
.cardsContainer{
    margin: 0 30px;
    border: 1px solid blue;
    border-radius: 10px;
    width: 400px;
    height: 370px;
    padding: 10px;
    margin: auto;
    margin: 40px;
}
.cardsProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:  none;
}

.cardsTitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 20px;
    font-size: 1.3em;
}
.cardsImg{
    display: block;
    margin: auto;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    
}
.cardsPrice{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 20px;
}