@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,400;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

:root {

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0 30px;
  min-height: 100vh;
}


